@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Construction Style*/
#construction {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.sidebar {
    margin: 0;
    padding: 15px 1px;
    width: 300px;
    background: #2D2626;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.sidebar img {
    width: 255px;
    height: 255px;
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

  }

main {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-left: 310px;
    height: 100vh;
}

#perfil_infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#perfil_infos h2 {
    font-style: light;
}

#about_me {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#skills h2 {
    display: flex;
    flex-direction: row;
}


#skill_soft_title {
    margin: 35px 0;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;    
}

