@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(75deg, rgba(2,0,36,1) 0%, rgba(69,69,84,1) 50%, rgba(25,49,54,1) 100%);
    color: #fff;
    font-size: 30pt;
}

#box {
    display: flex;
    flex-direction: column;
}



#developer_icons {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

#developer_icons h1 {
    font-size: pt;
}

#developer_icons img {
    margin: 0 0 0 0.313rem;
    display: flex;
    
    flex-direction: row;
    align-self: flex-end;
}

.icons {
    align-self: flex-end;
    padding: 5px;
}